body {
  background-color: #222831;
  color: #F9FFEE;
  line-height: 1.6;
  font-size: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
}

h1 {
  text-align: center;
  color: #EFBB35;
}

h2 {
  text-align: center;
  color: rgb(195, 154, 49);
  cursor: pointer;
  border-image-source: linear-gradient(90deg, rgb(195, 154, 49), #222831, rgb(195, 154, 49));
  border-image-slice: 1;
  border-bottom: 2px solid;
}

h3 {
  color: rgb(190, 156, 71);
}

pre.inline {
  display: inline;
  margin: 0px;
  padding: 6px;
  line-height: 1;
  background-color: black;
}

pre.bg {
  background-color: black;
}

.output {
  display: inline-block;
}

button {
  background-color: black;
  border-radius: 8px;
  color: #907e4c;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 10px var(--subtle);
  cursor: pointer;
}

button > .active {
  color: #F9FFEE;
}

b {
  color: #a6e228;
}
